@charset "UTF-8";

:root {
  --cat-image: url(chrome-extension://mbeokcgbigffmeigkngpaaongckhoadh/images/nyancat.gif);
  --sky-image: url(chrome-extension://mbeokcgbigffmeigkngpaaongckhoadh/images/sky.gif);
  --rainbow-image: url(chrome-extension://mbeokcgbigffmeigkngpaaongckhoadh/images/rainbow_tail.gif);
  --bar-height: 16px
}

/* Background sky gif */
.ytp-progress-bar-container {
  background-image: var(--sky-image);
}

/* Rainbow tail gif */
.nyan-tail {
  background-image: var(--rainbow-image);
}

.nyancat {
  /* Moved here from nyancat.js */
  transform: rotate(-45deg) translate(-16px, 28px);
  pointer-events: none;

  background-image: var(--cat-image);
  background-size: contain;
  background-repeat: no-repeat;
  width: 34px; /* Exact image dimensions */
  height: 21px;
}

/* common rules */
.ytp-progress-bar-container,
.nyan-tail {
  background-size: contain;
  height: var(--bar-height) !important;
  border-radius: 25px;
}

.nyan-layer {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 16px;

  overflow-x: hidden;
  overflow-y: visible;

  transform: translateY(-50%);
  pointer-events: none;
}